.countdownHeader {
  margin-top: 10px;
  display: inline-block;
  p {
    margin-left: 10px;
    font-size: 1rem;
    color: #9400D3;
  }
}
.menu {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

.inputDate {
 margin-top: 2px;
}

.event {
  width: 71%;
  margin-top: 15px;
  margin-left: 30px;
  color: #9400D3;
  font-size: 1.25rem;
  border: 2px solid #9400D3;
  border-radius: 5px;
  padding: 5px;
}

.button {
  margin-left: 10px;
  color: white;
  background-color: #9400D3;
  border-radius: 5px;
  cursor: pointer;
  outline:none;
  border: 0;
  padding: 6px;
  position: absolute;
  left: 65%;
}
