.countdownHeader {
  margin-top: 10px;
  display: inline-block; }

.countdownHeader p {
  margin-left: 10px;
  font-size: 1rem;
  color: #9400D3; }

.menu {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px; }

.inputDate {
  margin-top: 2px; }

.event {
  margin-top: 15px;
  margin-left: 30px;
  color: #9400D3;
  font-size: 1.5rem;
  text-decoration: underline; }

.button {
  margin-left: 10px;
  color: white;
  background-color: #9400D3;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 6px; }
